.table-tablet {
  display: none;
}

.addons-tablet {
  display: none;
}

@media (max-width: 1023px) {
  .table-tablet {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 100px;
        height: auto;
      }

      &-label {
        font-weight: bold;
        margin: 0;
      }

      &-price {
        height: 2.7rem;
        padding: 0.4rem 1rem;
        border: none;
        border-radius: 3px;
        background-color: white;
        color: black;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: bold;
        width: 15rem;
      }

      &-deal {
        font-size: 0.6rem;
        color: white;
      }
    }

    th {
      width: 100%;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
    .price {
      width: 19rem;
      overflow: hidden;
    }
    td {
      border: 1px solid #555;
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 2rem;

      font-size: 0.9rem;
      text-align: center;
    }
    .title {
      display: block;
      transform: translateY(-25px);
      padding-left: 4rem;
      width: 25rem;
    }

    .value-left {
      display: block;
      transform: translateX(100px);
    }
    .value-right {
      display: block;
      transform: translateX(-100px);
    }
  }

  .addons-tablet {
    display: table;

    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media (max-width: 838px) {
  .table-tablet {
    td {
      border: 1px solid #555;
      border-left: none;
      border-right: none;
      border-top: none;
      text-align: center;
    }
    .title {
      display: block;
      transform: translateY(-25px);
      padding-left: 2rem;
      width: 20rem;
    }
  }
}

@media (max-width: 786px) {
  .table-tablet {
    th {
      width: 60%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    td {
      padding: 2rem 1rem;
      .title {
        display: inline-block;
        transform: translateY(-25px);
      }
    }
  }
}

@media (max-width: 605px) {
}
