.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  padding: 2rem;
}

.highlight-tab-container {
  width: 500px;
  height: 400px;
  padding-right: 40rem;
}

.highlight-content {
  color: white;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.3rem;
  }

  .disclaimer {
    font-size: 0.7rem;
    color: gray;
  }
}

.highlight-options {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.highlight-options button {
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: #cccccc;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.highlight-options button.active {
  color: white;
  border-bottom: 2px solid white;
}

.highlight-options button:hover {
  color: white;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.7s ease forwards;
}

.logo-circles {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.logo-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
  }
}

@media (max-width: 1600px) {
  .highlight-tab-container {
    width: 500px;
    height: 400px;
    padding-right: 30rem;
  }
}

@media (max-width: 1280px) {
  .highlight-tab-container {
    width: 500px;
    height: 400px;
    padding-right: 20rem;
  }
}

@media (max-width: 1024px) {
  .highlights {
    align-items: flex-start;
    justify-content: center;
    padding-top: 1rem;

    background-image: url("../assets/sports-mobile.png"); // Add this if image is different for mobile
    background-position: center bottom; // Pin the bottom
    background-size: 100%; // Zoom into image
    background-repeat: no-repeat;
    padding-bottom: 20rem;
  }

  .highlight-content {
    p {
      font-size: 0.9rem;
    }
  }
  .highlight-tab-container {
    padding-right: 0;
    width: 100%;
    max-width: 500px;
    text-align: center;
  }

  .highlight-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .logo-circles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .highlight-content h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .highlights {
    padding-bottom: 0;
  }
}

@media (max-width: 425px) {
  .highlight-options {
    width: 400px;
  }

  .highlight-content {
    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 375px) {
  .highlights {
    padding-top: 0rem;
  }
  .logo-circle {
    width: 40px;
    height: 40px;
  }

  .highlight-options {
    align-items: left;
  }
}
